/********************************************
    GENERAL STYLES
********************************************/


/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
    --green: #009688; 
    --bg-gray: #dcdbd3;
    --bg-chat: #ece5dd;
    --light-blue: #8edafc;
    --sent-color: #d5f9ba;
    --gray: #aaa;
    --dark-gray: #ccc;
    --light-gray: #eaeaea;
    --darker-gray: #222e35;
}

/* Generics */


/********************************************
    UTILITIES
********************************************/

.debug {
    border: 2px dotted red;
}

/********************************************
    LAYOUT
********************************************/

/* #MAIN SECTION */

body {
    height: 100vh;
    background-image: linear-gradient(var(--green) 15%, var(--bg-gray) 15%);
}

#root .container {
    height: 90%;
}

#chat {
    background-color: var(--bg-chat);
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-chat-color {
    background-color: var(--bg-chat);
}
.bg-light-blue {
    background-color: var(--light-blue);
}
.bg-chat-image {
    background-image: url('../img/mine.jpg');
}

/* #CHAT */
#chat header,
#chat footer,
#user-section,
#notifications {
    flex-basis: 70px;
}

/* #ALL HEADERS */
.all-headers {
    height: 100%;
    display: flex;
    align-items: center;
}

.all-headers figure {
    height: 70px;
    padding: 0.5rem;
    margin-bottom: 0;
    flex-shrink: 0;
}

.all-headers img {
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.all-headers-text{
    margin-left: 0.5rem;
    margin-bottom: 0;
}
.fa-solid {
    font-size: 24px;
    margin-right: 20px;
}

/* #NOTIFICATIONS */

#notifications .fa-bell-slash {
    color: #8edafc;
    margin-left: 18px;
}
.icon-notifications {
 background-color: white;
 border-radius: 50%;
 height:50px;
 width: 50px;
 margin-left: 0.5rem;
 display: flex;
 align-items: center;
 justify-content: center;
}
small a {
    color: #666;
}

/* #SEARCH */
#search-contacts {
    position: relative;
}

#search-contacts .fa-magnifying-glass {
 position: absolute;
 top: 16px;
 left: 16px;
}
.form-control {
    padding: .375rem 2.75rem;
}

.fa-magnifying-glass {
    font-size: 20px;
    color: #666;
}


/* #CONTACT LIST */
#contacts-list li {
    border-bottom: 1px solid #aaa;
}
#contacts-list li:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

/* #HEADER MAIN */
.fa-search,
.fa-paperclip,
.fa-ellipsis-vertical {
    font-size: 24px;
}

/* #CHAT */
.message {
    display: flex;
}
.message.sent {
    justify-content: flex-end;
}
.message.received {
    justify-content: flex-start;
}
.message.sent .message-txt {
    background-color: #d5f9ba;
}
.message.received .message-txt {
    background-color: white;
}
.message.sent .message-txt time {
    display: block;
    text-align: right;
}
.message small {
    font-size: 11px;
}


