/********************************************
    GENERAL STYLES
********************************************/


/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
    --green: #009688; 
    --bg-gray: #dcdbd3;
    --bg-chat: #ece5dd;
    --light-blue: #8edafc;
    --sent-color: #d5f9ba;
    --gray: #aaa;
    --dark-gray: #ccc;
    --light-gray: #eaeaea;
    --darker-gray: #222e35;
}

/* Generics */


/********************************************
    UTILITIES
********************************************/

.debug {
    border: 2px dotted red;
}

/********************************************
    LAYOUT
********************************************/

/* #MAIN SECTION */

body {
    height: 100vh;
    background-image: linear-gradient(var(--green) 15%, var(--bg-gray) 15%);

}